# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
env/

# Conda
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
